In [1]:
import os
import platform
import random
from platform import python_version

import jupyterlab
import numpy as np
import pandas as pd

print("System")
print("os name: %s" % os.name)
print("system: %s" % platform.system())
print("release: %s" % platform.release())
print()
print("Python")
print("version: %s" % python_version())
print()
print("Python Packages")
print("jupterlab==%s" % jupyterlab.__version__)
print("pandas==%s" % pd.__version__)
print("numpy==%s" % np.__version__)

System
os name: posix
system: Darwin
release: 18.7.0

Python
version: 3.7.3

Python Packages
jupterlab==1.1.5
pandas==1.0.0
numpy==1.17.4

In [7]:
n = 10
df = pd.DataFrame(
    {
        "list_col": [[random.randint(0, 10) for _ in range(random.randint(3, 5))] for _ in range(10)],
    }
)
df.shape

(10, 1)

In [8]:
df.head()

          list_col
0     [7, 8, 2, 3]
1       [6, 10, 8]
2     [6, 3, 7, 9]
3     [1, 5, 6, 5]
4  [3, 0, 5, 7, 9]

In [10]:
df = df.explode("list_col")
df.shape

(40, 1)

In [11]:
df.head()

  list_col
0        7
0        8
0        2
0        3
1        6

In [12]:
values = [1, 2, 0, 0, 0, 0, 1, 2, 3]
sr = pd.Series(values)

In [17]:
sr.rolling(2).sum()

0    NaN
1    3.0
2    2.0
3    0.0
4    0.0
5    0.0
6    1.0
7    3.0
8    5.0
dtype: float64

In [31]:
df = pd.DataFrame({"col": [1, 2, 3, 4, 5]})
df.shape

(5, 1)

In [20]:
df.iloc[0]

col    1
Name: 0, dtype: int64

In [23]:
df.loc[0, "col"] = 1

In [25]:
df.iloc[0, "col"] = 1

ValueError: Can only index by location with a [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array]

In [32]:
df = df.append(pd.DataFrame({'col': [999]}))
df

   col
0    1
1    2
2    3
3    4
4    5
0  999

In [33]:
df.T

     0  1  2  3  4    0
col  1  2  3  4  5  999

In [76]:
df = pd.DataFrame(
    {
        "fruit": ["apple", "orange", "apple", "avocado", "orange"],
        "customer": ["ben", "alice", "ben", "josh", "steve"],
        "quantity": [1, 2, 3, 1, 2],
    }
)
df

     fruit customer  quantity
0    apple      ben         1
1   orange    alice         2
2    apple      ben         3
3  avocado     josh         1
4   orange    steve         2

In [78]:
df.set_index(["fruit", "customer"])["quantity"].unstack()

ValueError: Index contains duplicate entries, cannot reshape

In [77]:
df.pivot(index="fruit", columns="customer", values="quantity")

ValueError: Index contains duplicate entries, cannot reshape

In [80]:
df.pivot_table(index="fruit", columns="customer", values="quantity", aggfunc=np.sum)

customer  alice  ben  josh  steve
fruit
apple       NaN  4.0   NaN    NaN
avocado     NaN  NaN   1.0    NaN
orange      2.0  NaN   NaN    2.0